*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;

  }

html, body {
    height: 100%;
    overflow-x: hidden;
}

body {
    /* overflow-y: scroll; */
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}



:root {
    --primary-color-0: #00b5f5;
    /* --secondary-color-0: #efefef; */
    --secondary-color-0: #fafafa;
    --background-color: #fafafa;
}

.logo {
    width: 50px;
    border-radius: 50%;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
    padding: 10px;
    background-color: var(--primary-color-0);
}

main {
    width: 1200px;
    min-height: calc(100vh - 77px - 118px);
    padding-bottom: 118px;
    margin: auto;
    background-color: var(--secondary-color-0);
}

.hero {
    position: relative;
}

.hero-logo {
    position: absolute;
    top: 10%;
    left: 10%;
    border-radius: 50%;
}

.hero-text-bg {
    position: absolute;
    top: 50%;
    left: 45%;
    width: 550px;
    border-radius: 3%;
    background-color: var(--primary-color-0);
}

.hero-text-line {
    padding-bottom: 10px;
}

.hero-text {
    margin: 15px;
    padding: 10px;
    border-radius: 3%;
    background-color: #fafafa;
}

.hero-img {
    width: 1200px;
}

form {    
    text-align: center;
    height: 100%;
    width: 500px;
    padding: 20px;

    margin: auto;
    border-radius: 2%;
    background-color: var(--primary-color-0);
}

.fields {
    display: grid;
    justify-content: center;
    gap: 5px;
    grid-template-columns: 100px 300px;
}

.form {
    padding-bottom: 20px;
}

.text-input {
    padding: 5px;
}

label {
    text-align: end;
}

.submit {
    width: 100px;
    margin-top: 15px;
    transition: ease-in-out, 0.3s;
    border: 10px;

    border-color: #ffb5f5;
    border-width: 10px;
}

.submit:hover {
    transition: ease-in-out, 0.3s;
    font-size: 15px;
    background-color: fafafa;
}

.text-title {
    text-align: center;
    padding: 30px 0 20px 0;
}

.text-list-item {
    text-indent: 30px;
}

.article {
    display: flex;
}

.article-text {
    padding-top: 10px; 
    width: 600px; 
    padding: 10px 20px;
}

.article img {
    box-shadow: 10px 5px 5px gray;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 118px;

    padding: 30px;
    background-color: var(--primary-color-0);
}