@import url(normalise.css);

:root {
    --primary-color-0: #00b5f5;
}

.logo {
    width: 50px;
    border-radius: 50%;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
    padding: 10px;
    background-color: var(--primary-color-0);
}

main {
    width: 1200px;
    margin: auto;
    background-color: #cfcfcf;
}

.hero-title {
    font-size: 40px;
    text-align: center;
    padding: 20px;
}

.hero-img {
    width: 1200px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    
    padding: 30px;
    background-color: var(--primary-color-0);
}